{% extends 'base.html' %}

{% block head %}
    <title>Reconstructor</title>
{% endblock %}

{% block body %}
    <h1>Reconstructor</h1>

    Fetched <span id="fetch_status"></span> sample(s).

    <script type="text/javascript">
        var fetch_status = document.getElementById("fetch_status")
        function fetchStatus() {
            fetch("/fetch_status")
            .then(response => response.text())
            .then(status => (fetch_status.innerHTML = status))
        }
        setInterval(fetchStatus, 5000);
    </script>

    <!-- <img src="data:image/png;base64,{{img_data}}"/> -->
{% endblock %}