{% extends 'base.html' %}

{% block head %}
    <title>Reconstructor</title>
{% endblock %}

{% block body %}
    <h1>Reconstructor</h1>

    Fetched <span id="fetch_status"></span> sample(s).

    <script type="text/javascript">
        var fetch_status = document.getElementById("fetch_status")
        function fetchStatus() {
            fetch("/fetch_status")
            .then(response => response.text())
            .then(status => (fetch_status.innerHTML = status))
            // For this last then statement if condition should be 
            // used to send a get request to a dedicated endpoint 
            // to bring up the visualization of the fetched images 
            // and reconstruction.
            // Visibility could be altered using DOM manipulation
            // document.getElementById("myP").style.visibility = "hidden"; 
            // or "visible"
        }
        setInterval(fetchStatus, 5000);
    </script>

    <!-- <img src="data:image/png;base64,{{img_data}}"/> -->
{% endblock %}