{% extends 'base.html' %}

{% block head %}
    <title>Reconstructor</title>
{% endblock %}

{% block body %}
    <h1>Reconstructor</h1>

    <div style="display: flex; align-items: center; justify-content: flex-start; gap: 20px;">
        <h2>Data Fetch Status: </h2>
        <h2 id="fetch_status"> {{ ftc_st }}</h2>    
    </div>

    <form id="recon_form" method="post" accept="/" style="visibility: hidden;">
        <input 
            type="submit" 
            name="reconstruct_button" 
            value="reconstruct" 
            style="width: 100%; font-size: 22px; padding: 15px; background-color: black; color: white; border: 4px solid black; text-transform: uppercase; cursor: pointer;">
    </form>

    <div id="reconstruction_container" style="visibility: hidden;">
        <img class="sinogram" src="data:image/png;base64,{{sinogram}}" style="height: 600px; padding: 0; margin: 0;"/>
        <img class="reconstruction" src="data:image/png;base64,{{reconstruction}}" style="height: 600px; padding: 0; margin: 0;"/>
    </div>
    
    <script type="text/javascript">
        const ctrl = new AbortController()
        const abort_signal = ctrl.signal
        var fs_h3 = document.getElementById("fetch_status")
        var recon_button = document.getElementById("recon_form")
        var recons_cont = document.getElementById("reconstruction_container")
        function fetchStatus() {
            fetch("/fetch_status", {
                method: "get",
                signal: abort_signal
            })
            .then(response => response.text())
            .then(status => {
                if (status == "last_batch") {
                    fs_h3.innerHTML = "Last Batch Received"
                    ctrl.abort()
                    console.log("Fetching aborted...")
                    recon_button.style.visibility = "visible"
                    recons_cont.style.visibility = "visible"
                }else {
                    fs_h3.innerHTML = "Received " + status + " samples"
                }
            })
        }
        setInterval(fetchStatus, 5000);
    </script>

{% endblock %}